* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body > div:first-child {
  background-color: rgb(0, 150, 136);
  height: 100px;
}

body > div.backColor {
  background-color: rgb(213, 219, 217);
  height: calc(100vh - 100px);
}

main {
  background-color: white; /* Colore del main */
  color: #fff; /* Colore del testo nel main */
  padding: 20px;
  position: absolute;
  width: 85%;
  height: 95%;
  margin: 1rem 0;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  padding: 0;
}


/*  todo: CSS della sezione di sinistra nel main principale */

section.sectionLeft {
  width: 40%;
  height: 100%;
}

main > section > div.headerLeft {
  width: 100%;
  height: 50px;
  background-color: rgb(234, 234, 234);
}

div > img.avatarIo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

section > div.notifiche {
  background-color: rgb(142, 218, 252);
  height: 60px;
}

section > div.notifiche > i {
  font-size: xx-large;
}

section > div.ricerca {
  background-color: rgb(250, 250, 250);
  height: 45px;
}

section > div.ricerca > div > span {
  background-color: white;
}

section > div.boxUser {
  overflow: auto;
  height: calc(100% - 155px);
  background-color: white;
}

section > div.boxUser>div.active {
  background-color: rgb(233, 235, 235);
}


section > div.boxUser > div {
  background-color: rgb(255, 255, 255);
  color: black;
}

section > div.boxUser > div > div > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

section > div.boxUser > div > div > div.nameTime > span:last-child {
  color: rgb(198, 204, 210);
}



/* todo: CSS della sezione di destra nel main principale */

section.sectionRight {
  width: 60%;
  height: 100%;
}

main > section > div.headerRight {
  width: 100%;
  height: 50px;
  background-color: rgb(234, 234, 234);
  border-left: 0.5px solid;
}

main > section > div.headerRight > div > img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

div.iconHeader {
  color: rgb(177, 177, 177);
}

main > section > div.messaggi {
  overflow: auto;
  height: calc(100% - 100px);
  background-image: url(../img/mine.jpg);
}

div.messaggi > div > div.green {
  width: 50%;
  align-self: self-end;
  background-color: rgb(213, 249, 186);
}

div.orario{
  float: right;
  font-size: small;
}

div.messaggi > div > div.white {
  width: 50%;
  
  background-color: white;
}

main > section > div.footerMsg {
  z-index: 1;
  height: 50px;
  width: 100%;
  background-color: rgb(243, 238, 234);
}

main > section > div.footerMsg > div > input {
  width: 500px;
}
