<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boolzapp</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
     
    <div></div>
    <div class="backColor"></div>

   
    <div id="app">
      <main>
        <!--  sezione di sinistra nel main principale-->
        <section class="sectionLeft">
          <!--DIV CHE CORRISPONDE AL BOX INIZIALE DELL'HEADER DI SINISTRA-->
          <div
            class="headerLeft d-flex justify-content-between align-items-center"
          >
            <!--div con immagine e nome-->
            <div>
              <img
                class="avatarIo ms-2"
                src="img/avatar_io.jpg"
                alt="my avatar"
              />
              <span class="text-black ps-1">Sofia</span>
            </div>
            <!--Div con le tre icone-->
            <div class="iconHeader">
              <i class="fa-solid fa-circle-notch pe-4"></i>
              <i class="fa-solid fa-message pe-4"></i>
              <i class="fa-solid fa-ellipsis-vertical pe-4"></i>
            </div>
          </div>

          <!--SECONDO BOX A PARTIRE DA SOPRA CHE CONTIENE L'ATTIVAZIONE DELLE NOTIFICHE-->

          <div class="notifiche d-flex align-items-center pt-2 pb-2 ps-2">
            <i class="fa-solid fa-bell-slash pe-2 pt-3"></i>
            <div>
              <div>Ricevi notifiche di nuove messaggi</div>
              <a href="#">attiva notifiche desktop</a>
            </div>
          </div>

             <!--box della ricerca dei contatti-->
          <div class="ricerca p-2">
            <div class="searchContact input-group ">
              <span class="input-group-text border-0" id="basic-addon1"
                ><i class="fa-solid fa-magnifying-glass"></i>
              </span>
              <input
                type="text"
                class="form-control border-0"
                placeholder="Cerca o inizia una nuova Chat"
                aria-label="Username"
                aria-describedby="basic-addon1"
                v-model="nameSearch"  @input="filterContacts"
                />
                <ul v-show="showResults" class="search-results">
                  <li v-for="(contact,index) in filteredContacts()" :key="contact.name" @click="selectContact(contact)">
                  <span @click="onContactClick(index)">{{ contact.name }}</span>  

                  </li>
                </ul>


              
            </div>
          </div>

          <div class="boxUser">
            <button class=" contactUser p-2 d-flex justify-content-between active" v-for="(contact,index) in contacts" @click="onContactClick(index)" >
              <div class="d-flex" >
                <img :src="contact.avatar" alt="" />
                <div class="nameTime d-flex flex-column ps-2">
                  <span class="align-self-start">{{contact.name}}</span>
                  <span>ultimo messaggio inviato</span>
                </div>
              </div>
              <div class="orario">
                <span>12:00</span>
              </div>
            </button>
          </div>
        </section>

        <!-- sezione di destra nel main principale-->

        <section class="sectionRight">
  <!---->
          <div class="headerRight d-flex justify-content-between align-items-center">
            <div class="d-flex">
            <img src="img/avatar_1.jpg" class="ms-2" alt="">
            <div class=" d-flex flex-column ps-2">
            <span class="text-black">{{contacts[activeIndex].name}}</span>
            <span class="text-black">ultimo accesso oggi alle 12:00</span>
           </div>
          </div>
            <div class="iconHeader">
                <i class="fa-solid fa-magnifying-glass pe-2"></i>
                <i class="fa-solid fa-paperclip pe-3"></i>
                <i class="fa-solid fa-ellipsis-vertical pe-3"></i>
            </div>
          </div>


          <div class="messaggi">

        
            <div class="messageArrow d-flex flex-column align-self-end"  v-for="message in contacts[activeIndex].messages" >
                <div class=" singleMessage m-4  rounded text-black p-3 d-flex justify-content-between" :class="message.status === 'sent' ? 'green' : 'white'">
                    {{message.message}} 
                    <div class="hours">{{message.date}}
                    
                    </div>
                    <div class="arrow">
                      <i class="fa-solid fa-chevron-down"></i>
                    </div>
                </div>
               
           
                
            </div>
          
          </div>

<!--Barra per inserire l'input di un nuovo messaggio-->

          <div class="footerMsg d-flex align-items-center justify-content-around">

             <div class="iconHeader"><i class="fa-regular fa-face-smile"></i></div>
             
                <div >
                <input type="text" placeholder="Scrivi un messaggio" class="border-0 rounded p-1" v-model="userInput" @keyup.enter="newMsg">
                </div>

                <div class="iconHeader"><i class="fa-solid fa-microphone"></i></div>
             
            

          </div>

        </section>
      </main>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
